<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <div id="app">

        <div class="container">
            <div class="slider-wrapper" tabindex="0">

                <div
                    class="item"
                    v-for="(image, index) in images"
                    v-show="currentIndex === index"
                >

                    <img
                        :src="image.image"
                        alt="{{ image.title }}"
                    />
                    <div class="text">
                        <h3>{{ image.title }}</h3>
                        <p>{{ image.text }}</p>
                    </div>

                </div>

                <div class="thumbs">

                    <div
                        class="prev"
                        @click="prevImage"
                    ></div>
                    <div
                        class="thumb"
                        v-for="(image, index) in images"
                        @click="setImage(index)"
                        :class="{active: isActive(index)}"
                    >
                        <img
                            :src="image.image"
                            alt="{{ image.title }}"
                        />
                    </div>
                    <div
                        class="next"
                        @click="nextImage"
                    ></div>

                </div>

            </div>
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/main.js"></script>
</body>

</html>